* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.footer {
  background: #212121;
  font-family: 'Roboto', sans-serif;
  padding: 24px 196px 40px 196px;
}

.footer-up {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 0 0 25px 0;
  border-bottom: 1px solid #707070;
}

.footer-up .text {
  color: #f6f7f8;
  font-weight: 600;
  font-size: 16px;
}

.footer-up .btn {
  padding: 10px 14px;
  background: transparent;
  border-radius: 6px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}

.footer-center {
  display: flex;
  padding: 24px 0;
}

.header {
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #f6f7f8;
}

.little {
  font-size: 14px;
  line-height: 20px;
}

.list {
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #c5c4c4;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer-center .block {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
}

.footer-icons-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sozial-networks {
  display: flex;
  gap: 32px;
  padding: 0 0 24px 0;
}

.footer-icons-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.row {
  flex-direction: row;
  gap: 32px;
}

.footer-down {
  display: flex;
  gap: 32px;
  padding: 24px 0 0 0;
}
