* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-weight: normal;
  font-size: 14px;
}

body {
  width: 320px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 15px auto;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 2px;
}

.field input {
  border: 1px solid #ccc;
  padding: 5px 10px;
}

.btn {
  background: #1cbc11;
  color: white;
  padding: 5px;
  width: 100%;
  border: 1px solid;
}

.btn:hover {
  background: #14a20a;
}

