* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin: 20px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  padding: 10px;
  gap: 10px;
}

.card-img {
  width: 100px;
}

.card:nth-child(1){
  flex-grow: 1;
  /* flex-shrink: 1; */
}

.card:nth-child(2){
  flex-grow: 2;
  /* flex-shrink: 2; */
}

.card:nth-child(3){
  flex-grow: 3;
  /* flex-shrink: 3; */
}

.card:nth-child(4){
  flex-grow: 2;
  /* flex-shrink: 2; */
}

.card:nth-child(5){
  flex-grow: 1;
  /* flex-shrink: 1; */
}
