@use './reset' as *;
@use './card' as *;

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  align-items: stretch;
  justify-items: center;
  gap: 20px;
  padding: 20px;
}
