body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: red;
}

@mixin IFrame {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about {
    border: 1px solid white;
    padding: 10px;
    width: 800px;
    margin: 0 auto;

    h2 {
        font-size: 48px;
    }

    &__container {
        border: 1px solid white;
        border-radius: 8px;
        padding: 10px;
        p {
            font-size: 18px;
            line-height: 22px;
            color: white;
        }
        &-elem {
            width: 600px;
            height: 200px;
            background: white;
            @include IFrame;
            p {
                color: black;

                &:last-child {
                    width: 50%;
                }
            }

        }
    }
}

.new__elem {
    @include IFrame;
}