* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.menu {
  list-style: none;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.menu img {
  max-width: 100px;
}

.menu a {
  color: #666;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  padding: 20px;
  max-width: 350px;
  gap: 10px;
}

.item img {
  width: 200px;
}

.item p{
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}
