* {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

h1 {
  margin-top: 74px;
  text-align: center;
  font-size: 48px;
}

.paragraph {
  font-size: 32px;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.item-blank {
  border: 1px solid black;
  margin-top: 50px;
}

.item-black {
  background: black;
  color: white;
  margin-top: 30px;
}

.item-red {
  background: red;
  color: white;
  padding: 64px 0;
  margin-top: 30px;
}

.img-herz {
  margin-top: 6px;
}
