*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 320px 1fr;
}
.sidebar {
    width: 320px;
    background-color: rgba(149, 147, 255, 1);
    padding: 16px;
    border-radius: 16px;
    height: 100vh;
    position: fixed;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.menu li {
    padding: 7px 0 7px 10px;
    background: white;
    border-radius: 8px;
    width: 100%;
}

.content {
    grid-column-start: 2;
    margin: 16px 32px;
    padding: 16px;
}

.content h2 {
    margin: 16px 0 32px 0;
    font-size: 36px;
    font-weight: bold;
}