* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrap_container {
  margin: 50px;
  background: darkcyan;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  border-radius: 5px;
}

h2 {
  color: white;
}

#container {
  padding: 20px;
  width: 400px;
  background: rgb(15, 170, 110);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
}

#form {
  width: 100%;
  align-self: center;
  display: flex;
  gap: 10px;
}

.form__button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

#input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

ul {
  list-style: none;
}

.checkbox {
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 2px;
}

#status{
  color: pink;
}
