@use './common' as *;
@use './mixins' as *;
@use './variables' as *;

.header {
  max-width: 1512px;
  margin: 0 auto;
  padding: 11px 50px 11px 0;
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__logo-wrap {
    display: flex;
  }

  &__search-menu {
    display: flex;
  }

  &__search-wrap {
    display: flex;
    position: relative;
  }

  &__search-input {
    width: 300px;
    border: 1px solid #d9d9d9;
    border-radius: 8px 0 0 8px;
  }

  &__search-input::placeholder {
    padding-left: 37px;
    @include font(400, 16px, 100%, #707070);
  }

  &__search-icon-wrap {
    position: absolute;
    align-self: center;
    left: 10px;
    display: flex;
  }

  &__location-input {
    width: 254px;
    border: none;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }

  &__location-input::placeholder {
    padding-left: 17px;
    @include font(400, 16px, 100%, #212121);
  }

  &__search-btn {
    display: flex;
    align-items: center;
    background: #f65858;
    border-radius: 0 8px 8px 0;
    border: none;
    padding: 11px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 22px;
    font-size: 14px;
    line-height: 20px;
  }

  &__lang-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
    background: transparent;
  }

  &__lang-icon-wrap {
    display: flex;
  }

  &__login-btn {
    border: none;
    background: transparent;
  }

  &__signup-btn {
    @include btn-green();
    align-self: center;
    color: #ffffff;
  }
}

.main {
  max-width: 1196px;
  margin: 0 auto;

  .people-platform {
    display: flex;
    gap: 50px;
    padding-top: 71px;

    &__info-block {
      width: 51%;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    &__title {
      @include font(700, 42px, 52px, #212121);
    }

    &__text {
      @include font(400, 16px, 24px, #212121);
    }

    &__btn {
      @include font(400, 16px, 24px, #ffffff);
      @include btn-green();
      align-self: flex-start;
    }
  }

  .header-section {
    padding-top: 64px;
    padding-bottom: 24px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__title-wrap {
      align-items: center;
      display: flex;
      gap: 20px;
    }

    &__title {
      @include font(600, 28px, 36px, #212121);
    }

    &__location {
      display: flex;
    }

    &__location-input {
      width: 195px;
      border: none;
      border-radius: 8px 0 0 8px;
      background: #97cad11f;
      padding: 12px 0 8px 12px;
    }

    &__location-input::placeholder {
      @include font(600, 20px, 24px, #00798a);
    }

    &__location-btn {
      display: flex;
      align-items: center;
      padding: 11px;
      border-radius: 0 8px 8px 0;
      border: none;
      background: #97cad11f;
    }

    &__link {
      @include font(500, 16px, 24px, #00798a);
      text-decoration: none;
    }
  }

  .join-meetup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    padding: 20px 56px;
    background: #97cad114;
    border-radius: 8px;

    &__info-block {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-right: 50px;
    }

    &__title {
      @include font(600, 28px, 36px, #212121);
    }

    &__text {
      @include font(400, 16px, 24px, #212121);
    }

    &__btn {
      @include font(500, 16px, 24px, #ffffff);
      align-self: flex-start;
      padding: 8px 67px;
      background: #e32359;
      border-radius: 8px;
      border: none;
    }
  }

  .popular-cities {
    &__text {
      @include font(400, 16px, 24px, #707070);
      margin-bottom: 28px;
    }
  }

  .meetup-work {
    &__container-cards {
      @include grid(380px, 32px);
      justify-items: normal;
    }

    &__card {
      background: #97cad114;
      border-radius: 8px;
      padding: 32px 0 24px 24px;
      display: flex;
      gap: 24px;
    }

    &__icon {
      align-items: flex-start;
    }

    &__info-block {
      width: 65%;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    &__title {
      @include font(600, 20px, 24px, #212121);
    }

    &__description {
      @include font(400, 16px, 24px, #212121);
    }

    &__link {
      @include font(500, 16px, 24px, #00798a);
    }
  }

  .friendships {
    &__container-cards {
      @include grid($width-friendships-card, 32px);
    }
    &__card {
      max-width: $width-friendships-card;
      display: flex;
      flex-direction: column;
      gap: 18px;
      padding-bottom: 64px;
    }

    &__text {
      width: 75%;
      @include font(400, 16px, 24px, #707070);
      margin-bottom: 28px;
    }

    &__title {
      @include font(600, 18px, 28px, #212121);
      width: 75%;
    }

    &__description {
      @include font(400, 16px, 24px, #707070);
    }

    &__link {
      @include font(400, 16px, 24px, #00798a);
    }
  }
}
