@use './common' as *;
@use './mixins' as *;

.header {
  max-width: 1512px;
  margin: 0 auto;
  padding: 11px 50px 11px 0;
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__logo-wrap {
    display: flex;
  }

  &__search-menu {
    display: flex;
    font-size: 16px;
  }

  &__search-wrap {
    display: flex;
    position: relative;
  }

  &__search-input {
    width: 300px;
    border: 1px solid #d9d9d9;
    border-radius: 8px 0 0 8px;
  }

  &__search-input::placeholder {
    padding-left: 37px;
    color: #707070;
  }

  &__search-icon-wrap {
    position: absolute;
    align-self: center;
    left: 10px;
    display: flex;
  }

  &__location-input {
    width: 254px;
    border: none;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }

  &__location-input::placeholder {
    padding-left: 17px;
    color: #000000;
  }

  &__search-btn {
    display: flex;
    align-items: center;
    background: #f65858;
    border-radius: 0 8px 8px 0;
    border: none;
    padding: 11px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 22px;
    font-size: 14px;
    line-height: 20px;
  }

  &__lang-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
    background: transparent;
  }

  &__lang-icon-wrap {
    display: flex;
  }

  &__login-btn {
    border: none;
    background: transparent;
  }

  &__signup-btn {
    padding: 8px 16px;
    align-self: center;
    color: #ffffff;
    background: #00798a;
    border-radius: 8px;
    border: none;
  }
}

.main {
  max-width: 1196px;
  margin: 0 auto;
  // section1
  .join-meetup {
    display: flex;
    gap: 50px;
    padding-top: 71px;

    &__left {
      width: 51%;
      display: flex;
      flex-direction: column;
      gap: 24px;
      color: #212121;
    }

    &__title {
      @include font(700, 42px, 52px, #212121);
    }

    &__text {
      @include font(400, 16px, 24px, #212121);
    }

    &__btn {
      align-self: flex-start;
      padding: 8px 16px;
      color: #ffffff;
      background: #00798a;
      border-radius: 8px;
      border: none;
    }

    &__right {
      display: flex;
    }
  }

  // section2
  .header-section {
    padding-top: 100px;
    padding-bottom: 24px;
    
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__title-wrap {
      align-items: center;
      display: flex;
      gap: 20px;
    }

    &__title {
      @include font(600, 28px, 36px, #212121);
    }

    &__location {
      display: flex;
    }

    &__location-input {
      width: 195px;
      border: none;
      border-radius: 8px 0 0 8px;
      background: #97cad11f;
      padding: 12px 0 8px 12px;
    }

    &__location-input::placeholder {
      @include font(600, 20px, 24px, #00798a);
    }

    &__location-btn {
      display: flex;
      align-items: center;
      padding: 11px;
      border-radius: 0 8px 8px 0;
      border: none;
      background: #97cad11f;
    }

    &__link {
      @include font(500, 16px, 24px, #00798a);
      text-decoration: none;
    }
  }

  // section3
  .events-near {
    &__container-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 86px 36px;
    }

    &__card {
      display: flex;
      flex-direction: column;
      gap: 12px;

      &-title {
        padding-right: 16px;
        @include font(600, 20px, 24px, #212121);
      }

      &-sphere {
        @include font(500, 14px, 20px, #707070);
      }

      &-date-block,
      &-visitor-block,
      &-ticket-block {
        display: flex;
        gap: 6px;
      }

      &-wrap-visitor-ticket {
        display: flex;
        gap: 16px;
      }

      &-date,
      &-visitor,
      &-ticket {
        @include font(400, 14px, 20px, #212121);
        text-transform: uppercase;
      }
    }
  }
}
