* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container-top {
    padding: 20px 15px;
    color: white;
}

.footer img {
    margin-right: 15px;
}

.box label {
    display: block;
    margin-bottom: 4px;
}

select {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: none;
    padding: 0 10px;
    background: #eae9e9;
}

.container {
    background: #55796E;
    max-width: 560px;
    margin: 200px 0 auto 100px;
    border-radius: 18px;
    -webkit-box-shadow: 5px 5px 22px -4px #000000;
    box-shadow: 5px 5px 22px -4px #000000;
}

.text {
    margin: 15px 0;
}

.header {
    padding-bottom: 15px;
}

.footer {
    padding-top: 15px;
    margin-left: 15px;
}

.receive {
    margin: 10px 0;
}

.box {
    border-radius: 18px;
    background: white;
    padding: 20px 15px 40px 15px;
}

a {
    color: grey;
}

.link {
    text-align: right;
}

.header {
    border-bottom: 1px solid white;
}

.button-sent {
    width: 100%;
    height: 40px;
    background: #55796E;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    font-size: 18px;
}