* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.list {
  width: 400px;
  margin: 20px auto;
  list-style: none;
}

.list li {
  padding: 2px 10px;
  margin: 2px;
  border: 1px solid;
  border-radius: 8px;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.cyan {
  background: cyan;
}

.yellow {
  background: yellow;
}