* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
}

body {
  width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin: 40px auto;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 4px;
}

.field input {
  background: #f0f0f0;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
}

.field label {
  font-size: 10px;
}

.btn {
  padding: 5px;
  width: 135px;
  background: transparent;
  border-radius: 8px;
  border: 1px solid;
}
