* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  margin: 100px;
  max-width: 233px;
  padding: 16px;
  border: 1px solid;
  text-align: center;
  position: relative;
}

.photo {
  margin: 20px;
  border: 1px solid;
  max-width: 159px;
}

.description {
  margin-top: 32px;
}

.btn {
  padding: 15px;
  margin-top: 46px;
}

.circle {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  background: red;

}

.sale {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  right: -30px;
  top: -30px;
}

.alfa {
  background: rgb(255,0,0,0.8);
  left: -30px;
  bottom: -30px;
}

.elipse {
  width: 350px;
  height: 6px;
  top: 250px;
  left: -60px;
}