* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
  background: antiquewhite;
}

.task {
  border: 1px solid;
  border-radius: 5px;
  padding: 20px;
  background: white;
}

p {
  margin-bottom: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 2px;
  margin-bottom: 10px;
}

.field input {
  background: #f0f0f0;
  border: 1px solid;
  padding: 5px 10px;
}

.field label {
  font-size: 14px;
  padding-left: 4px;
}

.btn {
  margin: 20px 0;
  padding: 5px 10px;
}

#message {
  margin: 0;
}

.red {
  color: red;
}

.green {
  color: green;
}
