* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background: #0d3c35;
  height: 100vh;
  padding: 25%;
}

form {
  background: #3d867b;
  border-radius: 8px;
  width: 200px;
  margin: 0 auto;
  padding: 5px;
}

h3 {
  margin: 8px;
}

.input-text {
  border-radius: 4px;
  padding: 5px 10px;
  margin: 2px 0;
  width: 100%;
}

.input-text::placeholder {
  font-size: 10px;
}

.btn {
  width: 48%;
  background: #cfcfcf;
  padding: 5px;
  font-size: 10px;
  border-radius: 4px;
}

.reset {
  background: rgb(163, 117, 117);
}

.checkbox {
  margin: 4px;
  font-size: 12px;
  text-align: center;
}
