* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.red {
  color: red;
}

.active {
  color: blue;
}

.hidden {
  display: none;
}

.even {
  background-color: teal;
}

.circle {
  border: 1px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.bg-red {
  background: red;
}
.bg-blue {
  background: blue;
}
.bg-green {
  background: green;
}
.bg-yellow {
  background: yellow;
}
.bg-gray {
  background: gray;
}
