* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
  background: antiquewhite;
}

.task {
  border: 1px solid;
  border-radius: 5px;
  padding: 20px;
  background: white;
}

.btn {
  padding: 5px 10px;
}

.block {
  display: flex;
  gap: 10px;
  align-items: center;
}