* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.one,
.two,
.three,
.four,
.five,
.sex {
  width: 370px;
min-height: 459px;
  border: 1px solid #ededf0;
  display: flex;
  flex-direction: column;
  
}

.main__img {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}
.content {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1400px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
p {
  margin-left: 10px;
  color: rgba(41, 41, 41, 1);
  font-size: 14px;
}
.one1,
.two2,
.three3,
.four4,
.five5,
.sex6 {
  border-bottom: 2px solid rgba(237, 237, 240, 1);
  padding: 10px;
position: relative;
  max-width: 370px;
}
h2 {
  text-align: center;
  margin: 20px auto;
}
h4 {
  margin: 10px 10px;
  font-size: 18px;
}
.qqq,
.www,
.eee,
.aaa,
.sss,
.ddd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  position: relative;
  width: 370px;
  
}

.cors {
  /* border-left: 1px solid black; */
  padding: 15px 25px;
  display: flex;
  align-items: center;
  gap: 8px;
  right: 50px;
  padding-left: 15px;
  color: black;
  
}
.qqq .cors::after {
     contain: '';
    width: 2px;
    background-color: black;
    height: 49px;
    position: absolute;
    left: 50px;
}
.qqq,
.www,
.eee,
.aaa,
.sss,
.ddd .cors ::before {
    contain: '';
    width: 2px;
    background-color: black;
    height: 49px;
    position: absolute;
    left: 50px;
    
}

.cors img {
  width: 14px;
  height: 19px;
  margin-right: 10px;
}
.price {
  color: red;
  font-size: 18px;
  flex-grow: 1;
}
.cors p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 102px;
}

.bottom {
    width: 370px;
    display: flex;
}

.bottom__left {
    flex-grow: 1;
}

.bottom__right {
    padding: 15px 25px;
}

.bottom__right p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 102px;
}
