* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.block {
  margin: 20px;
}
.btn {
  padding: 5px 10px;
  margin: 10px;
}

.text {
  margin: 10px;
}

.list {
  margin: 30px;
}

form {
  padding: 20px;
}
