* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 5000px;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
}

.menu {
  background: teal;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px 0;
}
