* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  margin: 30px;
}

.input {
  width: 200px;
}

.search {
  border: 1px solid #d9d9d9;
  border-radius: 8px 0 0 8px ;
  position: relative;
}

.search::placeholder {
  padding-left: 37px;
  font-size: 16px;
  color: #707070;
}

.state {
  border: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.state::placeholder {
  padding-left: 17px;
  font-size: 16px;
  color: #000000;
}

.btn {
  display: flex;
  background: #f65858;
  border-radius: 0 8px 8px 0;
  border: none;
  padding: 11px;
  align-items: center;
}

.icon-wrap {
  position: absolute;
  align-self: center;
}


