* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.list {
  width: 200px;
  padding: 20px;
  margin: 20px auto;
  list-style: square;
  border: 1px solid black;
}

.list li {
  border-bottom: 1px solid black;
}

form {
  border: 1px solid black;
  padding: 20px;
}

input {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 8px;
  background: transparent;
}
