* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  min-width: 200px;
  min-height: 100px;
  background-color: blue;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}

@media (max-width: 830px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 620px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 410px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
