* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.container {
  border: 1px solid black;
  height: 100vh;
  background: url('../images/image\ 1.jpg') no-repeat center center / cover;
}

.menu {
  padding: 30px 0;
  background: #00000020;
}

.list-menu {
  list-style: none;

  display: flex;
  justify-content: center;
  gap: 50px;
}

.list-menu li {
  position: relative;
}

.list-menu li::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background: #d9d9d9;
  top: -3px;
  left: -34px;
}
