* {
  padding: 0;
  margin: 0;
}

.parent {
  width: 300px;
  height: 300px;
  background: red;
}

.child {
  width: 200px;
  height: 200px;
  background: blue;
}

.grandchild {
  width: 100px;
  height: 100px;
  background: green;
}

.box {
  border: 1px solid black;
  width: 300px;
  height: 200px;
  margin: 20px 0;
  padding: 10px 0;
  background: cyan;
}
