* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.wrap-img img {
  display: flex;
  align-items: center;
  max-width: 100px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav a:hover {
  border-bottom: 2px solid black;
  transition: 0.5s ease;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li img {
  width: 24px;
}

.item-menu, .wrap-item-menu-img{
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-login {
  display: flex;
  align-items: center;
  gap: 20px;
}


.btn-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.btn-login {
  background: transparent;
}

.btn-login:hover {
  background: black;
  color: white;
  transition: 0.5s ease;
}

.btn-signup {
  background: black;
  color: white;
}

.btn-signup:hover {
  background: transparent;
  color: black;
  transition: 0.5s ease;
}

