* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.block-parent {
  width: 600px;
  height: 600px;
  border: 1px solid;
}

.circle {
  width: 100px;
  height: 100px;
  border: 1px solid;
  border-radius: 50%;
}

.child1 {
  background: red;
  position: relative;
  top: 200px;
  left: 260px;
}

.child2 {
  background: gray;
  position: relative;
  top: 180px;
  left: 230px;
}

.child3 {
  background: green;
  position: relative;
  top: 100px;
  left: 300px;
}
