* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
}

.form {
  width: 560px;
  padding: 14px;
  background: rgb(225, 248, 250);
  border-radius: 16px;
  border: 1px solid #999;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

legend {
  margin-left: 2px;
}

fieldset {
  border: 2px solid #999;
  padding: 4px 10px 8px 10px;
}

.field {
  display: flex;
}

.set-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.set-name input {
  width: 100%;
}

.set-name input::placeholder {
  padding-left: 2px;
  font-size: 12px;
}

.wrap-gender-mailing {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.set-gender,
.set-mailing {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.btn {
  width: 15%;
}
