* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #888;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.wrap-img img {
  display: flex;
  align-items: center;
  max-width: 100px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.item-menu, .wrap-item-menu-img{
  display: flex;
  align-items: center;
}

.form-login {
  display: flex;
  align-items: center;
  gap: 20px;
}

.input-login {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #888;
}

.btn-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn {
  border-radius: 4px;
}

.btn-login {
  border: none;
  background: transparent;
  color: #444;
}

.btn-signup {
  border: none;
  background: rgb(119, 79, 119);
  color: white;
  padding: 5px 10px;
}
