* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


form {
    width: 300px;
    margin-left: auto;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
    background-color: #add8e6;
}

form button {
    padding: 5px 10px;
    border-radius: 4px;
    background: #8EDCC2;
    border: none;
    color: black;
    margin-top: 10px;
}